.slide-down {
	font-size: .8em;
	text-align: center;
	padding: 10px;
	background-color: #111;
	color: #fff;
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
	text-transform: uppercase;
	position: relative;
	font-weight: bold;

	-webkit-animation: slideDown 800ms ease-out;
	-moz-animation: slideDown 800ms ease-out;
	-o-animation: slideDown 800ms ease-out;
	animation: slideDown 800ms ease-out;
}

/* Webkit, Chrome and Safari */

@-webkit-keyframes slideDown {
  0% {
	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  50% {
  	-webkit-transform:translateY(-30%);
  }

  100% {
  	-webkit-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}
