@import 'header.css';
@import 'content.css';
@import 'footer.css';
@import 'quickformat.css';
@import 'animation.css';

body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #142456;
}
